<!DOCTYPE html>
<html lang="en">
<head>
  <title>Items Expiring Soon</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
	      <nav class="navbar navbar-default">
          <div class="navbar-header">
              <a href="#" class="navbar-brand">Martinque</a>
          </div>
      </nav>
  <h2>Items Expiring  Soon Within 3 Months</h2>          
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Brand Name</th>
        <th>Generic Name</th>
        <th>Batch No.</th>
        <th>Expiry Date</th>
        <th>Quantity Left</th>
      </tr>
    </thead>
    <tbody>
      <% if(data.length){ 
    for(var i = 0;i < data.length;i++) { %>
  <tr>
    <td><%=data[i].username%></td>
    <td><%=data[i].username%></td>
    <td><%=data[i].salt%></td>
    <td><%=data[i].password%></td>
    <td><%=data[i].username%></td>
  </tr>
  <% }
  }else{ %>
  <tr>
    <td colspan="3">No user</td>
  </tr>
<% } %>
    </tbody>
  </table>
</div>

</body>
</html>