<!DOCTYPE html>
<html>
<head>
   <link rel="stylesheet" href="/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/search.css">
  <style>
   body
    {
      font-size: 1.7em;
    }
    input
    {
      size: 40px;
    }
</style>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
<body class="container"> 
  <nav class="navbar navbar-toggleable-sm navbar-inverse bg-inverse p-0">
    <div class="container">
      <img src="/img/lock.jpg" class="img-responsive img-log" alt="">
      <div class="collapse navbar-collapse" id="mynavbar"></div>
    </div>   
  </div>
  </nav>
  <br>
<br>
<br><br>
<br>
<br>
<div class="col-md-4">
  <form id="medexpsoon" method="post" action="/users/DeleteRecord/Vendors" class="form-inline">
                <input type="submit" size="35" value="Venders" class="btn btn-info btn-block" data-toggle="modal">
              </form>
          </div>  
<br>
<br>
<br>
<br>
<br>
<br>
<div class="col-md-4">
  <form id="medexpsoon" method="post" action="/users/DeleteRecord/Medicines" class="form-inline">
                <input type="submit" size="35" value="Medicines" class="btn btn-success btn-block" data-toggle="modal">
              </form>
          </div>  
</body>
</html>