<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Martinque</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/login.css">
  </head>
  <body>
      <nav class="navbar navbar-default">
          <div class="navbar-header">
              <a href="#" class="navbar-brand">Martinque</a>
          </div>
      </nav>




      <div class="container">
          <div class="col-md-6">
              <img src="/assets/lock.jpg" class="img-responsive img-log" alt="">
          </div>
          <div class="col-md-6 text-center">
              <div class="g">
                  <h3 class="head">Login Here</h3>
                  <p class="para">Get unlimited typeform,response,question<br/>free forever</p>
                  <form method="post" action="/users" class="login">
                      <div class="input-group">
                          <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
                          <input type="text" name="username" class="form-control" placeholder="Username">
                      </div>
                      <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-key" aria-hidden="true"></i></span>
                            <input type="password" name="password" class="form-control" placeholder="Password">
                        </div>
                        <input class="btn btn-info" type="submit" name="Login" value="Login">
                  </form>
              </div>

          </div>
      </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
</html>